<% if !signed_in? %>
	<div class="center hero-unit">
	  <h1>Welcome to the MUIC</h1>
	  <h2>
	    This website is available only for Mahidol University Internation College students.
	  </h2>
	  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
	</div>
 <% end %>