<li>
  <span class="content"><h4 style="text-decoration: none;"><%= link_to comment.content, topic_comment_path(comment.topic_id, comment) %></h4></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>