<div style="background-color: white; border-radius: 6px;">
	<li style="padding-left: 10px;">
		<%= image_tag user.avatar.url, style: "width:100px; height: auto;"%>
	 	<%= link_to user.name, user %>
	  	<% if current_user.admin? && !current_user?(user) %>
	    | <%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	  <% end %>
	</li>
</div>