<% provide(:title, 'Sign up') %>
<div class="container jumbotron" style="padding: 3em; width: 800px; font-size: 14px; padding: 10px;">
	<h1 style="font-family: inherit;">Sign up</h1>
	<div class="form-group" style="margin-left: -60px;">
	  <div class="col-sm-offset-2 col-sm-10", style="margin-left: 12%;">
	    <%= form_for(@user) do |f| %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Sign up", class: "btn btn-primary", style:" width: 101px; margin-left: 43%;" %>
	    <% end %>

	  </div>
	</div>
</div>