@import "bootstrap";

.blueicon{
	color: #1E7BE0;
}

.greyicon{
	color: #ccc;
}

.board{
	text-align: left;
	font: 40px bold;
	font-family: inherit;
	letter-spacing:1px;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 0px 0;
	border-radius: 4px;
}

.tagcontainer{
	font-family: inherit;
	background-color: white;
	vertical-align: middle;
	margin-left: 10em;
	margin-right: 10em;
	text-align: center;
	padding: 4em;
	border-radius: 6px;
}

#tagging{
	color: #a1a1a1;
	font-family: inherit;
	font-size: 13px;
	margin-top: 4px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 1.1em; }
  .m { font-size: 1.6em; }
  .l { font-size: 2.2em; }
}

.profile{
	background-color: white; 
	padding-top: 3em; 
	border-radius: 6px;
	padding-bottom: 3em;
}

.user-post{
	float: right;
	width: 40em;
	height: 30em;
}

#basic-modal{
	text-decoration: none;
	padding-left: 1.4em;
	a:link {
		color: #000000; 
		text-decoration: none; 
	}
	a:active {
		color: #000; 
		text-decoration: none; 
	}
	a:visited {
		color: #000; 
		text-decoration: none; 
	}
	a:hover {
		color: #ff0000; 
		text-decoration: underline; 
	}
}

#comment{
	float: left; 
	color: #a1a1a1; 
	font-family: inherit;
}

.table th, .table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #d5d5d5;
}

.breadcrumb{
	background-color: #fff;
	text-shadow: none;
}

.panel-title{
	color: #000;
}

.btndropdown{

	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: white;
	background-image: linear-gradient(to bottom, white, #FFFFFF);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.05);
}

.dropdown-menu{
	float: right;
	font-family: inherit;
	font-size: 12px;
}

.delete-post-btn{
	float: right;
	width: 100px;
}

.panel-footer{
	border-top: 0px solid #bbb;
	margin-top: 2.5em;
}

.date{
	text-align: left;
	width: 10em;
	float: left;
	color: #bbb;
	font-family: inherit;
}

#username{
	text-align: left;
	font-family: inherit;
	color: #Bbb;
}

.panel-heading{
	border-bottom: 0px solid #bbb;
}

.panel-default{
	padding: 10px;
	border: 0px solid #bbb;
	margin-bottom: 0.5em;
	border-radius: 6px;
	background-color: #fff;

}

.timestamp {
  color: $gray-light;
  text-align: left;
}

.table {
	width: 100%;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 6px;
}

a#post-link:link {
	color: #000000; 
	text-decoration: none; 
}
a#post-link:active {
	color: #0000ff; 
	text-decoration: none; 
}
a#post-link:visited {
	color: #1f56b2; 
	text-decoration: none; 
}
a#post-link:hover {
	color: #ff0000; 
	text-decoration: underline; 
}

#post-link{
	font-family: inherit;
	line-height: 20px;
	font-size: 1.1em;

}

#user-name-post-index{
	font-size: 0.7em;
	color: #BDBDBD;
	font-family: inherit;
	text-decoration: none;
	a:hover{
	color: #BDBDBD; 
	text-decoration: underline; 
	}
	a:link{
		color: #BDBDBD; 
	}
	a:active{
		color: #BDBDBD; 
	}
	a:visited{
		color: #BDBDBD; 
	}

}

.container-post-new-message{
	margin-bottom: 10px;
}

.subtitle-body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #B8ADAD;
}

.board-container{
	background-color: #F0F0F0;
	border-radius: 6px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-left: -10px;
}
a.fill-div{
		display: block;
		height: 100%;
		width: 100%;
		text-decoration: none;

}

.navbar-inverse{
	background-color: #182ED1;
	background-image: linear-gradient(to bottom, #2c3b63, #2c3b63);
	background-repat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
	border-color: #252525;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}



.field_with_errors {
	@extend .has-error;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* header */

#logoimg { height: 40px; width: 40px; overflow: hidden; float: left; margin-left: 0px; margin-top: -11px; }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 8px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #D5D5D5;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* topics */

.topics {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $gray-light;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}