<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Mahidol University International College</a>
    by Ronnakrit K.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>